HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!frontend/login/src/main/**/build/
!frontend/login/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!frontend/login/src/main/**/bin/
!frontend/login/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!frontend/login/src/main/**/out/
!frontend/login/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
**/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### svelte ###
**/node_modules/
/public/build/**

.DS_Store
